{% extends "blog/base.html" %}

{% block content %}
<div class="tools-details">
<h1>The Best Running Tips of All Time</h1>
<img src="https://www.outsideonline.com/sites/default/files/styles/width_1200/public/2017/09/07/greatest-running-tips-of-all-time_h.jpg?itok=bmF1dpO4" height="300" width="520">

<p>
	At Outside, we write about running. A lot. We’ve spent countless hours talking to the greatest athletes and brightest minds in the sport to examine every training and racing strategy imaginable. We’ve even tested many of those approaches ourselves. While we think it’s all worthwhile info, we recognize that sometimes keeping it simple is best. So we’ve distilled 40 years of advice into one comprehensive list of the 27 pieces of advice that we consider most valuable to your running life.
</p>
<h2>1. Strengthen Your Whole Body</h2>
“Good runners condition their whole bodies. The arms drive the legs. Keep your upper body and core toned with a lot of push-ups, pull-ups, sit-ups, and back raises (don’t forget that the back is part of the core). Stay away from machine weights and stick to Pilates, climbing, and dynamic flexibility work like yoga.”
—October 2013

<h2>2. Run More Hills</h2>
<p>
“One of the beauties of hills is that they really work on dynamic power, hip strength, and hip mobility because you need to be able to go and drive those hips really high to get up.”
—June 2015
</p>
<h2>3. Quit Trying to Set Your PR</h2>
<p>
“Be process oriented, not outcome oriented. Get a little better with each training session—a stronger squat, a harder effort on intervals. Don’t obsess about race day.”
—July 2015
</p>
<h2>4. Hydrate (Especially Before Trail Races)</h2>
<p>
“Due to their remote locations, many trail races have few (if any) water stations. Make sure to hydrate for days in advance, and—depending on the distance of the race—consider carrying a water bottle or hydration pack during the event.”
—June 2013
</p>
<h2>5. Stretch and Refuel Immediately Post-Race</h2>
<p>
“There’s a natural temptation when you finish a race to collapse on the ground and bask in your own private glory. This is a bad idea.”
—October 2014
</p>
<h2>6. Find a Routine, Then Stick to It</h2>
<p>
“I dialed in my race-day outfit and nutrition plan in advance to eliminate any surprises. I slept more, stopped drinking alcohol, and ate my vegetables. I put on the same clothes I had been training in for the past three weeks—black shorts, white top, gray socks—and ate my preplanned breakfast of one banana, half a Clif Bar, and half a cup of coffee.”
—May 2013
</p>
<h2>7. Don’t Freak Out If You’re Undertrained</h2>
<p>
“A lot of people ruminate and freak out. Then they have all this nervous energy and are toast during the race. The key is to stay calm and not expend energy worrying about the race.”
—March 2017
</p>
<h2>8. Fix Your Stride</h2>
<p>
“He had to change everything about his stride—from the way his feet were hitting the ground to the way he swung his arms as he ran. It was a difficult adjustment, but he had the benefit of knowing he’d already tried virtually everything else.”
–February 2016
</p>
<h2>9. Eat Whole Foods</h2>
<p>
“Try to eat whole foods that look as close to how they are grown as possible. Avoid the processed food—like foods that dominate most conventional grocery chains. They’re packed with sodium, sugar, and empty calories and are a drain on your digestive system.
—July 2012
</p>
<h2>10. It’s Not All About the Carbs</h2>
<p>
“Runners whose number one goal is to lose weight can cut the pasta, bread, and cereals and have enough energy to complete many of the easy runs in 30 to 60 minutes. Most healthy diets will still provide enough incidental carbs—byproducts of fruit and beans—to fuel you.”
—August 2014
</p>
<h2>11. Random Massages Are a Bad Idea</h2>
<p>
“Every athlete’s body responds differently to massage; you don’t want to find out the week before your race that deep tissue work makes you uncomfortably sore.”
—September 2012
</p>
<h2>12. Layer Up When It’s Cold</h2>
<p>
“It’s easy to see the weather and darkness as a reason not to work out. The price tag might sting up front, but buying clothes like a moisture-wicking base layer, gloves, and a breathable wind-blocking top will make training outside a lot more enjoyable.”
—January 2016
</p>
<h2>13. You Need to Sprint More</h2>
<p>
“Five percent of an athlete’s total weekly mileage should be taken up by sprints. Someone running 30 miles a week should run hill sprints for 1.5 of those miles. It’s similar in theory and practice to speedwork on a track.”
—September 2013
</p>
<h2>14. Get a Hydration Pack (Especially for Ultras)</h2>
<p>
“Yes, there will be aid stations. But there’s no telling how much time will pass between them, so bring your own fluids in a handheld bottle, pack, or belt. Which one you choose is a matter of preference.”
—May 2013
</p>
<h2>15. Patience Is a Virtue</h2>
<p>
“In distance running, you’ve got to learn to love the process. Whether it’s in training (it takes a lot of time to get better) or in racing (holding back for the first 20 miles of a marathon), patience is a virtue. There are no quick fixes. It’s about believing in the plan and executing.”
—January 2016
</p>
<h2>16. Don’t Hydrate Too Much Right Before Running</h2>
<p>
“Sloshing in your stomach is a sign that water has not worked its way into your bloodstream, providing a full feeling that’s a ruse for hydration.”
—August 2010
</p>
<h2>17. Take Recovery Days Seriously</h2>
<p>
“The day after a tough workout, the most you want to do is jog lightly or do some form of cross-training, like cycling. You need a recovery day after a hard day. No exceptions.”
—October 2013
</p>
<h2>18. Make It Social</h2>
<p>
“Get a group together, or join a local running club. When you’re socially and emotionally invested in your workouts, it’ll be harder for you to skip them. Having running buddies will help keep you from burning out or slacking off.”
—January 2012
</p>
<h2>19. Don’t Pick Just One Running Partner</h2>
<p>
“One of the most basic ways to add a little variety to your running life is finding different running partners. You don’t need to be monogamous about whom you run with. The same principle applies for those who always run alone: Try joining a group for long weekend runs and (re)discover the joys of exercising with your fellow homo sapiens.”
—January 2017
</p>
<h2>20. Get Off Your Feet Before a Race</h2>
<p>
“Take it easy the day and night prior to race day. Race organizers don’t make that easy by scheduling interesting expos and panel discussions the day before, where you are on your feet, walking around, expending energy. Discipline yourself to keep that to a minimum, making a conscious effort to sit and rest with your feet up as much as possible. Don’t squander the good work you’ve done during your taper in the last day or two.”
—August 2014
</p>
<h2>21. Visualize Success</h2>
<p>
“Begin by taping an audio narrative for yourself that recreates, in as much sensual detail as possible, the sensation of performing your sport. Take careful notes the next time you practice…and work those into the script. Then narrate the tape entirely in the first person, present tense…and choose crucial moments.”
—September 1996
</p>
<h2>22. Use Technology (But Not Too Much)</h2>
<p>
“Apps from MapMyRun and the USATF can help you plot your training routes in less time (no more driving them beforehand). For trail running, figure out how long it takes you to run a mile—maybe two minutes longer than on roads—and go by time instead. Garmin GPS watches track your distance and pace. But don’t let your tools get in the way.”
—April 2012
</p>
<h2>23. Know When Your Running Shoes Are Worn Out</h2>
<p>
“The typical lifespan of a shoe is between 300 and 600 miles. Shoes will start to feel a little different after about 200 miles—it’s a depreciation curve. Each company has a different point at which their shoes will feel really flat, but it’s important to know that shoes do have a lifespan. It might not be immediately clear when your shoes have bitten the dust, but there are a few indications that it’s time to invest in a new pair.”
—April 2016
</p>
<h2>24. Do Not Run Drunk</h2>
<p>
“For one, alcohol’s a poison. Two, while it can increase aggression (a positive, depending on the sport), it can also adversely affect coordination, planning, and execution of movement. And three, it’s a powerful diuretic, so it depletes your water volume, much of which your body takes from your blood plasma.”
—September 2014
</p>
<h2>25. First, Run Easy</h2>
<p>
“The problem with most people is they only care about getting fast and think that once they get fast, running will get easy. They got it backwards. First, focus on getting easy, because if that’s all you get, that ain’t so bad. Once you can run easy, focus on light. Once you get light, focus on smooth. By the time you’re easy, light, and smooth, you won’t have to worry about getting fast—you will be.”
—November 2011
</p>
<h2>26. Try Skiing</h2>
<p>
Any time a runner can work on strength, flexibility, balance, and/or use different muscle groups, it’s a good thing. Skiing checks all those boxes and then some. “In addition to building coordination, core stability, and leg strength, alpine skiing works the leg muscles in many different planes, which is beneficial for runners. Your glutes, quads, hamstrings, and calves, as well as your abductor and adductor muscles, are all utilized in downhill skiing.”
—February 2013
</p>
<h2>27. Don’t Run Injured</h2>
<p>
“It’s hard to sit it out while waiting for an injury to heal. You risk setting back training and racing goals, not to mention losing a sweet endorphin rush. But whatever ails you will take longer to heal—or get worse—if you run through the pain.”
—May 2013
</div>

{% endblock content %}